<h2>Variables de Tendencia Central</h2>

Prof. Giancarlo Valencia Sotomayor

Calcula de la mediana, meda y moda aritmética

In [1]:
print("Datos a tratar: ")
data=[1,4,6,7,2,3,4,7,1,2,4,3,4,5,
      6,5,2,3,1,2,5,6,7,3,4,1,5,7,
      1,7,6,5,3,4,3,4,5,5,5,6,7,3,
      4,5,3,4,5,4,5,6,3,4,3,4,5,3,
      4,5,3,4,5,3,4,5,3,4,5,3,1,3,
      4,5,3,4,5,6,5,4,6,5,6,5,1,7]
print(data)

Datos a tratar:
[1, 4, 6, 7, 2, 3, 4, 7, 1, 2, 4, 3, 4, 5, 6, 5, 2, 3, 1, 2, 5, 6, 7, 3, 4, 1, 5, 7, 1, 7, 6, 5, 3, 4, 3, 4, 5, 5, 5, 6, 7, 3, 4, 5, 3, 4, 5, 4, 5, 6, 3, 4, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 4, 5, 3, 1, 3, 4, 5, 3, 4, 5, 6, 5, 4, 6, 5, 6, 5, 1, 7]

In [4]:
# Ordenando la data de menor a mayor
dOrder=sorted(data)

n=len(dOrder)
middle=n//2
# Cantida de elementos en data[]
print(n)

84

In [5]:
# codigo para calcular la mediana
if n%2==0:
	mediana=(dOrder[middle+1] + dOrder[middle+2]) / 2
else:
	mediana=dOrder[middle+1]

print ('')
print ("Total datos",n)
print ("Mediana: ", mediana)

Total datos 84
Mediana:  4.0

In [6]:
# codigo para calcular la media aritmetica
print ('Mediana Aritmetica: ', round(sum(data)*1.0/n,2))

Mediana Aritmetica:  4.17

In [7]:
# codigo para calcular la moda
repetir = 0                                                                         
for i in data:                                                                              
    aparece = data.count(i)                                                             
    if aparece > repetir:                                                       
        repetir = aparece                                                       
                                                                                         
moda = []                                                                               
for i in data:                                                                              
    aparece = data.count(i)                                                             
    if aparece == repetir and i not in moda:                                   
        moda.append(i)                                                                  
                                                                                         
print ("moda:", moda)

moda: [5]

## Utilizando la librería Statistics

In [8]:
import statistics as st

In [9]:
sueldo = [4000,2500,1000,5000,7000,1234,4000,250,25000,3500,23456]

In [10]:
print('La media es: ' + str(st.mean(sueldo)))
print('La mediana es: ' + str(st.median(sueldo)))
print('La moda es: ' + str(st.mode(sueldo)))

La media es: 6994.545454545455
La mediana es: 4000
La moda es: 4000

## Utilizando Pandas

In [12]:
# Importamos de la librería pandas para el manejo de dataframes
import pandas as pd

In [13]:
# Importamos nuestro archivo CSV
df = pd.read_csv('Participantes.csv')

In [14]:
# Por defecto pandas me muestra los 5 primeros registros
df.head()

,¿En qué País vives?,Provincia,Experiencia en Data Science,Años de educación,¿Trabajas actualmente?,¿Cuál es tu salario anual?,¿Cuál es tu interés personal?,¿Cuál es tu sexo?
0,Perú,Cañete,Básica,5.0,Desempleado,1200,Ganar más dinero y trabajar menos.,Masculino
1,Perú,San Vicente,Básica,2.0,Desempleado,1200,software,Masculino
2,Perú,San Vicente,Intermedia,15.0,Independiente,150,ver peliculas,Femenino
3,Perú,San Vicente,Experta,15.0,Tiempo completo,2300,comer,Masculino
4,Perú,San Vicente - 28 de Julio,Experta,2.0,Tiempo completo,2300,Apasionado en la tecnologia,Masculino

In [15]:
df.columns =['Pais','Provincia','Experiencia','Años','Trabajo','Salario','Interés','Sexo']

In [16]:
df.head()

,Pais,Provincia,Experiencia,Años,Trabajo,Salario,Interés,Sexo
0,Perú,Cañete,Básica,5.0,Desempleado,1200,Ganar más dinero y trabajar menos.,Masculino
1,Perú,San Vicente,Básica,2.0,Desempleado,1200,software,Masculino
2,Perú,San Vicente,Intermedia,15.0,Independiente,150,ver peliculas,Femenino
3,Perú,San Vicente,Experta,15.0,Tiempo completo,2300,comer,Masculino
4,Perú,San Vicente - 28 de Julio,Experta,2.0,Tiempo completo,2300,Apasionado en la tecnologia,Masculino

In [17]:
datos = df.drop(['Interés'],axis=1)
datos.head()

,Pais,Provincia,Experiencia,Años,Trabajo,Salario,Sexo
0,Perú,Cañete,Básica,5.0,Desempleado,1200,Masculino
1,Perú,San Vicente,Básica,2.0,Desempleado,1200,Masculino
2,Perú,San Vicente,Intermedia,15.0,Independiente,150,Femenino
3,Perú,San Vicente,Experta,15.0,Tiempo completo,2300,Masculino
4,Perú,San Vicente - 28 de Julio,Experta,2.0,Tiempo completo,2300,Masculino

In [18]:
datos.describe()

            Años       Salario
count  52.000000  5.200000e+01
mean    7.740385  1.981319e+05
std     6.299308  1.385960e+06
min     0.000000  1.000000e+02
25%     3.000000  1.500000e+03
50%     5.000000  2.300000e+03
75%    12.000000  5.000000e+03
max    32.000000  1.000000e+07

In [19]:
media = df['Años'].mean()
mediana = df['Años'].median()
moda = df['Años'].mode()

In [20]:
print('La media ' + str(media ) + ', mediana: ' + str(mediana) + ' y moda es: ' + str(moda) )

La media 7.740384615384615, mediana: 5.0 y moda es: 0    5.0
dtype: float64

In [21]:
datos.shape

(52, 7)

In [22]:
df.shape

(52, 8)