# Limpieza de Datos con Pandas
Prof. Giancarlo Valencia Sotomayor   versión 1.1/21

In [1]:
# Importamos de la librería pandas para el manejo de dataframes
import pandas as pd

In [6]:
# Importamos nuestro archivo CSV
df = pd.read_csv('datasets\\01-participantes.csv')
#df = pd.read_csv('Participantes2.csv', encoding='latin-1')

In [7]:
# Mostramos los 5 primeros datos por defecto
df.head()

,¿En qué País vives?,Provincia,Experiencia en Data Science,Años de educación,¿Trabajas actualmente?,¿Cuál es tu salario anual?,¿Cuál es tu interés personal?,¿Cuál es tu sexo?
0,Perú,Cañete,Básica,5.0,Desempleado,1200,Ganar más dinero y trabajar menos.,Masculino
1,Perú,San Vicente,Básica,2.0,Desempleado,1200,software,Masculino
2,Perú,San Vicente,Intermedia,15.0,Independiente,150,ver peliculas,Femenino
3,Perú,San Vicente,Experta,15.0,Tiempo completo,2300,comer,Masculino
4,Perú,San Vicente - 28 de Julio,Experta,2.0,Tiempo completo,2300,Apasionado en la tecnologia,Masculino

In [34]:
df.columns =['Pais','Provincia','Experiencia','Años','Trabajo','Salario','Interés','Sexo']

In [35]:
datos = df.drop(['Interés'],axis=1)
datos.head()

,Pais,Provincia,Experiencia,Años,Trabajo,Salario,Sexo
0,Perú,Cañete,Básica,5.0,Desempleado,1200,Masculino
1,Perú,San Vicente,Básica,2.0,Desempleado,1200,Masculino
2,Perú,San Vicente,Intermedia,15.0,Independiente,150,Femenino
3,Perú,San Vicente,Experta,15.0,Tiempo completo,2300,Masculino
4,Perú,San Vicente - 28 de Julio,Experta,2.0,Tiempo completo,2300,Masculino

In [36]:
datos['Trabajo'][:5] # tipos de trabajo

0        Desempleado
1        Desempleado
2      Independiente
3    Tiempo completo
4    Tiempo completo
Name: Trabajo, dtype: object

In [8]:
datos.Pais.value_counts()

Perú               24
Peru                4
Perù                2
Colombia            2
Brasil              2
España              2
china               1
Perú                1
Peru                1
Australia           1
Japon               1
Colombia            1
Estados Unidos      1
China               1
Chile               1
China               1
Alemania            1
Nueva Zelanda       1
Argentina           1
Canada              1
Canadá              1
Venezuela           1
Name: Pais, dtype: int64

In [37]:
len(datos.Pais.value_counts())

22

In [38]:
datos.loc[datos.Pais=='Perù'].head()

    Pais Provincia Experiencia  Años      Trabajo  Salario       Sexo
13  Perù    Tokio       Básica   5.0  Desempleado     2010  Masculino
23  Perù  Imperial      Básica   2.0  Desempleado     1500   Femenino

In [39]:
datos.loc[datos.Pais=='Perù','Pais']='Perú'

In [40]:
len(datos.loc[datos.Pais == 'Perú'])

26

In [41]:
conversion =[('Peru','Perú'),
             ('Peru ','Perú'),
             ('Perú ','Perú'),
             ('china','China'),
             ('Canada','Canadá')    
]

In [42]:
conversion[2][1]

'Perú'

In [43]:
for c in conversion:    
    datos.loc[datos.Pais == c[0],'Pais'] = c[1]
    print('Convierto {0} -> {1}'.format(c[0],c[1]))

Convierto Peru -> Perú
Convierto Peru  -> Perú
Convierto Perú  -> Perú
Convierto china -> China
Convierto Canada -> Canadá

In [44]:
datos.Pais.value_counts()

Perú               32
Colombia            2
Canadá              2
China               2
España              2
Brasil              2
Estados Unidos      1
Alemania            1
Argentina           1
Nueva Zelanda       1
China               1
Japon               1
Australia           1
Chile               1
Colombia            1
Venezuela           1
Name: Pais, dtype: int64

In [45]:
len(datos.Pais.value_counts())

16

In [46]:
#for i in range(53):
    #datos.loc[i,'Pais']=datos.Pais.strip()

In [49]:
# pip install openpyxl
datos.to_excel('ParticipantesLimpio1.xlsx',index=False)